.plusMinusProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  .plusMinusProducts-number {
    margin: 0 10px;
    font-size: 20px;
  }
}
.plusMinusProducts-remove {
  font-size: 10px;
  padding: 2px;
}
