.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include respond-to("extra-small") {
    display: flex;
    flex-direction: column;
  }

  .main-menu-item {
    margin: 0 10px;
    color: lightgrey;
    font-size: 20px;

    @include respond-to("medium") {
      font-size: 15px;
    }
  }
}
