.home-page {
  //background-image: url("../../../components/pages/HomePage/Light-Blue-Wallpaper.jpg");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  .home-page-content {
    display: flex;
    padding: 50px;
    .sorting-products {
      display: flex;
      flex-direction: column;
    }
  }
}
