.regulationsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  .regulationsPage-points {
    margin-bottom: 15px;
    .regulationsPage-points-header {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}
