.footer {
  min-height: 90px;
  background-color: black;
  box-shadow: 0px 17px 10px 13px black;
  @include flex-center;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: darkgrey;
    @include respond-to("small") {
      display: flex;
      flex-direction: column-reverse;
    }
    .footer-rights {
      margin: 0;
      text-align: center;
      padding: 15px;
    }
    .footer-links {
      @include respond-to("extra-small") {
        display: none;
      }
    }
  }
}
