.singleProduct {
  .singleProduct-contShop {
    margin-top: 30px;
  }
  .singleProduct-cart {
    display: flex;
    border: 1px solid #ddd;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    .singleProduct-foto {
      @include flex-center;
    }
    .singleProduct-info {
      .singleProduct-tag {
        font-size: 15px;
      }
      .singleProduct-name {
        text-transform: capitalize;
        margin: 10px 0;
      }
      .singleProduct-description {
      }
      .singleProduct-price {
        color: #17a2b8;
        font-size: 25px;
      }
    }
  }
}

.singleProduct-image {
  width: 200px;
}
