.sorting {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .sorting-header {
    color: rgb(86, 85, 41);
    font-size: 20px;
  }

  .sorting-options {
    .sorting-option {
      margin: 20px 10px;
      font-size: 18px;
      color: black;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
