@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &.visited {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}
